<!DOCTYPE html>
<html>
<head>
  <title>AngularRailsTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="AngularRailsTemplate">

<%= yield %>

</body>
</html>
